
.bgimg {
    -fx-background-image: url('../img/LoginBGImage.jpg');
    -fx-background-size: cover;
}

.loginPanel{
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-size: cover;

}


#primaryButton{
    -fx-pref-width: 100px;
    -fx-background-color: #0099ff;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#primaryButton:hover{
    -fx-text-fill: white;
    -fx-background-color: #041e42;
}

#primaryButton:focused{
      -fx-border-style: solid;
      -fx-border-color: turquoise;
      -fx-border-width: 4px;
}

.button:hover{
    -fx-text-fill: white;
    -fx-background-color: #00214d;
}

.button{
    -fx-width: 120px;
    -fx-background-color: white;
    -fx-text-fill: #0099ff;
    -fx-font-size: 16px;
}

.label{
    -fx-font-size: 16px;

}

.hyperlink{
    -fx-font-size: 16px;   
}
