
.bgimg {
    -fx-background-image: url('../img/LoginBGImage.jpg');
    -fx-background-size: cover;
}

.loginPanel{
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-size: cover;
}


#primaryButton{
    -fx-pref-width: 100px;
    -fx-background-color: #0099ff;
    -fx-text-fill: white;

}

#primaryButton:hover{
    -fx-text-fill: white;
    -fx-background-color: #041e42;
}

.button:hover{
    -fx-text-fill: white;
    -fx-background-color: #00214d;
}

.button{
    -fx-width: 120px;
    -fx-background-color: white;
    -fx-text-fill: #0099ff;

}

.label, .hyperlink, .button, #primaryButton{
    -fx-font-size: 16px;   
}

.topMenu, .selectedMenuItem{
    -fx-background-color: rgba(0,33,77,0.8);
}

.menuBar{
    -fx-background-color: rgba(51,153,255,0.8);

}

